header.--cms-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	gap: var(--padding);

	padding: var(--padding);

	background-color: var(--background-color-1);

	h1.--cms-header-title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--padding);
		font-size: 1.25rem;
	}

	nav.--cms-header-nav {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: flex-end;
		gap: var(--gap);
		flex-wrap: wrap;

		a,
		button {
			border: 1px solid var(--border-color);
			border-radius: calc(var(--margin) * 2);

			background-color: var(--border-color);

			color: var(--background-color);

			padding: var(--padding) var(--margin);

			&:hover {
				background-color: var(--background-color-6);
				border-color: var(--background-color-6);
				color: var(--border-color);
			}

			* {
				pointer-events: none;
			}
		}
	}
}

nav.--cms-user-menu {
	display: flex;
	flex-direction: column;

	a,
	button {
		justify-content: flex-start;
		color: var(--background-color);

		&:hover {
			background-color: var(--background-color-6);
			color: var(--text-color);
		}

		padding: var(--padding) var(--margin);
	}
}
