@use "@/app/administrator/vars.scss" as *;

div.--cms-permissions {
	display: grid !important;
	grid-template-columns: auto auto;

	width: max-content;

	aside.--cms-permissions-aside {
		grid-column: 1 / 2;

		width: max-content;
		height: max-content;
	}

	table.--cms-permissions-table {
		grid-column: 2 / 3;
		margin: var(--gap);

		select {
			width: 100%;
		}
	}
}
