button.--cms-toggle {
	border: 1px solid var(--text-color);
	padding: var(--gap);
	height: calc(var(--margin) * 2);
	width: calc(var(--margin) * 3.5);
	border-radius: var(--margin);
	background-color: transparent;

	position: relative;

	div.--cms-toggle-indicator {
		height: calc(100% - var(--padding));
		aspect-ratio: 1 / 1;

		background-color: var(--info-color);

		position: absolute;

		border-radius: inherit;
		left: var(--gap);
	}

	&.--cms-toggled {
		background-color: var(--info-color-0);

		div.--cms-toggle-indicator {
			right: var(--gap);
			left: unset;
		}
	}
}
