/*
(administrator).scss
Core styles for administrator pages.
*/
@use "./vars.scss" as *;

:root {
	--background-color: hsl(252, 12%, 12%);
	--background-color-1: hsl(252, 12%, 18%);
	--background-color-2: hsl(252, 12%, 24%);
	--background-color-3: hsl(252, 12%, 28%);
	--background-color-4: hsl(252, 12%, 36%);
	--background-color-5: hsl(252, 12%, 42%);
	--background-color-6: hsl(252, 12%, 48%);
	--background-color-7: hsl(252, 12%, 86%);

	--error-color: hsl(0, 65%, 51%);
	--error-color-2: hsl(0, 65%, 56%);
	--error-color-3: hsl(0, 65%, 64%);
	--warning-color: hsl(30, 100%, 48%);
	--warning-color-2: hsl(30, 100%, 56%);
	--warning-color-3: hsl(30, 100%, 62%);
	--success-color: hsl(123, 43%, 39%);
	--success-color-2: hsl(123, 43%, 46%);
	--success-color-3: hsl(123, 43%, 54%);
	--info-color: hsl(207, 90%, 61%);
	--info-color-2: hsl(207, 90%, 68%);
	--info-color-3: hsl(207, 90%, 74%);

	--text-color: #ffffff;
	--border-color: #ffffff;
	--margin: 1rem;
	--padding: 0.5rem;
	--gap: 0.25rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
}

ul,
ol {
	margin-left: var(--margin);
}

button,
a.--cms-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--padding);

	font-size: 1rem;

	user-select: none;

	padding: var(--padding);

	text-decoration: none;

	border: 1px solid transparent;

	* {
		pointer-events: none;
	}

	svg {
		color: inherit;
		font-size: inherit;
	}

	cursor: pointer;

	border-radius: var(--gap);

	@mixin button-color(
		$text-color: var(--text-color),
		$border-color: var(--background-color),
		$background-color: transparent,
		$h-text-color: var(--background-color),
		$h-border-color: var(--border-color),
		$h-background-color: var(--border-color),
		$a-text-color: var(--background-color),
		$a-border-color: var(--background-color-6),
		$a-background-color: var(--background-color-6)
	) {
		color: $text-color;
		background-color: $background-color;
		border-color: $border-color;

		&:hover {
			color: $h-text-color;
			background-color: $h-background-color;
			border-color: $h-border-color;
		}

		&:active {
			color: $a-text-color;
			background-color: $a-background-color;
			border-color: $a-border-color;
		}
	}

	@include button-color();

	&.--cms-success {
		@include button-color(
			var(--text-color),
			var(--success-color),
			var(--success-color),
			var(--text-color),
			var(--success-color-2),
			var(--success-color-2),
			var(--text-color),
			var(--success-color-3),
			var(--success-color-3)
		);
	}

	&.--cms-error {
		@include button-color(
			var(--text-color),
			var(--error-color),
			var(--error-color),
			var(--text-color),
			var(--error-color-2),
			var(--error-color-2),
			var(--text-color),
			var(--error-color-3),
			var(--error-color-3)
		);
	}

	&.--cms-warning {
		@include button-color(
			var(--text-color),
			var(--warning-color),
			var(--warning-color),
			var(--text-color),
			var(--warning-color-2),
			var(--warning-color-2),
			var(--text-color),
			var(--warning-color-3),
			var(--warning-color-3)
		);
	}

	&.--cms-info {
		@include button-color(
			var(--text-color),
			var(--info-color),
			var(--info-color),
			var(--text-color),
			var(--info-color-2),
			var(--info-color-2),
			var(--text-color),
			var(--info-color-3),
			var(--info-color-3)
		);
	}

	&.--cms-highlight {
		@include button-color(var(--text-color), var(--background-color-6));
	}

	&[disabled] {
		pointer-events: none;
		opacity: 0.5;
	}
}

textarea {
	resize: vertical;
}

input,
textarea,
select {
	font-family: inherit;

	&[disabled] {
		pointer-events: none;
		opacity: 0.5;
	}

	&[readonly] {
		&:focus {
			outline: none;
		}
	}
}

svg {
	color: var(--text-color);
}

hr {
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	&::after {
		content: "";
		border-bottom: 1px solid var(--border-color);
		display: block;
		width: 100%;
	}
}

html {
	font-family: "Nunito", "Nunito Fallback", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

.--cms-sticky {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
}

main.--cms-administrator {
	width: 100vw;
	height: 100vh;

	background-color: var(--background-color);
	color: var(--text-color);

	display: flex;
	flex-direction: column;

	div.--cms-page-loader {
		flex-grow: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	div.--cms-dashboard {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;

		flex-grow: 2;

		max-height: 100%;
		overflow: hidden;

		article.--cms-content {
			grid-row: 2 / 3;
			grid-column: 2 / 3;

			display: flex;
			flex-direction: column;

			overflow: auto;

			max-height: 100%;
		}

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto 1fr;
			overflow: auto;

			article.--cms-content {
				grid-row: 3 / 4;
				grid-column: 1 / 2;

				height: max-content;
				max-height: max-content;
			}
		}
	}

	article.--cms-form-container {
		flex-grow: 2;

		display: flex;
		flex-direction: column;

		align-items: center;
		justify-content: center;
	}
}

nav.--cms-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--gap);
	justify-content: space-between;
	padding: var(--padding);
	flex-wrap: wrap;

	> section {
		display: flex;
		flex-direction: row;
		gap: var(--gap);
		flex-wrap: wrap;

		> span {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			> :first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;

				border-right: 1px solid var(--background-color) !important;
			}

			> :last-child {
				border-left: none;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
}

form.--cms-form {
	display: flex;
	flex-direction: column;

	max-width: 100%;

	padding: var(--margin);
	gap: var(--padding);

	color: inherit;

	h1,
	h2 {
		margin-bottom: var(--margin);
		align-self: stretch;
		text-align: center;
	}

	label {
		font-weight: 800;

		display: inline-flex;
		flex-direction: row;
		align-items: center;
		gap: var(--gap);

		&[required] {
			&::after {
				content: "*";
				display: inline;
				color: var(--error-color);
			}
		}
	}

	input,
	textarea,
	select {
		border: 1px solid var(--border-color);
		color: var(--text-color);
		background-color: var(--background-color);
		padding: var(--padding);
		font-size: 1rem;
		border-radius: var(--gap);
		margin-bottom: var(--padding);

		&::placeholder {
			color: var(--background-color-6);
		}
	}

	&[disabled] {
		pointer-events: none;
	}
}

div.--cms-popup-content {
	background-color: var(--border-color);
	color: var(--background-color);
	border-radius: var(--gap);
	margin-top: var(--gap);

	border-radius: var(--margin);

	display: flex;
	flex-direction: column;

	overflow: hidden;

	opacity: 1;

	animation: popup-fade-in 0.15s ease-in;

	max-height: 100vh;

	@keyframes popup-fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	nav.--cms-popup-nav {
		display: flex;
		flex-direction: column;

		overflow-y: auto;

		a,
		button {
			justify-content: flex-start;
			color: var(--background-color);

			border-radius: 0;
			border: none;

			&:hover {
				background-color: var(--background-color-7);
			}

			padding: var(--padding) var(--margin);
		}
	}
}

a {
	color: var(--info-color);
}
