section.--cms-listings {
	display: flex;
	flex-direction: column;
	gap: var(--margin);
	padding: var(--padding);

	background-color: var(--background-color-2);

	flex-grow: 2;

	width: 100%;
	min-width: max-content;

	table.--cms-listings-table {
		border: 1px solid var(--background-color-6);
		border-collapse: collapse;

		gap: var(--padding);

		min-width: 0;
		max-width: 100%;
		overflow-x: scroll;

		thead tr th,
		tbody tr td {
			text-align: center;
			padding: var(--gap);

			&:first-child {
				padding-left: var(--padding);
			}

			&:last-child {
				padding-right: var(--padding);
			}
		}

		thead {
			border: 1px solid var(--background-color-6);
			tr {
				border: 1px solid var(--background-color-6);

				th {
					button {
						margin: 0 auto;

						border: none;
						// padding: 0;

						color: var(--info-color);

						&:hover {
							background: none;
						}

						&:active {
							background: none;
						}
					}
				}
			}
		}

		tbody {
			border: 1px solid var(--background-color-6);
			tr {
				border: 1px solid var(--background-color-6);
				td {
					> span {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
					}

					button {
						border: none;
					}
				}
			}
		}

		@media (max-width: var(--tablet)) {
			display: flex;
			flex-direction: column;

			thead {
				display: none !important;
			}
		}
	}
}
