nav.--cms-tabs-nav {
	padding: 0;
	justify-content: flex-start;
	gap: 0;

	border-bottom: 1px solid var(--background-color-2);

	button {
		border: none;
		border-radius: 0;

		padding: var(--padding) var(--margin);
	}
}

main.--cms-tabs-content {
	max-width: 100%;
}
