nav.--cms-tabs-nav {
	padding: 0;
	justify-content: flex-start;
	gap: 0;

	border-bottom: 1px solid var(--background-color-2);

	button {
		border: none;
		border-radius: 0;

		padding: var(--padding) var(--margin);
	}
}

main.--cms-tabs-content {
	max-width: 100%;

	&:has(article.--cms-tabs-content-main),
	&:has(aside.--cms-tabs-content-aside) {
		display: grid;
		grid-template-columns: 1fr auto;
	}

	article.--cms-tabs-content-main {
		grid-column: 1 / 2;
	}

	aside.--cms-tabs-content-aside {
		grid-column: 2 / 3;
	}
}
