@use "@/app/administrator/vars.scss" as *;

form.--cms-filter-form {
	flex-direction: row;

	flex-wrap: wrap;
	justify-content: space-between;

	background-color: var(--background-color-2);

	gap: var(--gap);
	padding: var(--padding);
	padding-bottom: 0;

	position: sticky;
	left: 0;

	input {
		background: none;
		margin-bottom: 0;

		&::placeholder {
			color: var(--text-color);
		}
	}

	section {
		display: flex;
		flex-direction: row;
		gap: var(--gap);

		flex-wrap: wrap;

		> span {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			justify-content: center;
			flex-wrap: nowrap;

			:first-child:not(:only-child) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				&:not(input) {
					border-right: none;
				}
			}

			:last-child:not(:only-child) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				&:not(button) {
					border-left: none;
				}
			}
		}
	}
}

form.--cms-filter-options-form {
	gap: var(--gap);
	max-width: $mobile-l;
	width: 100%;

	padding: 0;

	> section {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--gap);

		&.--cms-filter-options {
			background-color: var(--background-color);

			div.--cms-filter-option {
				display: flex;
				flex-direction: column;
				align-items: stretch;

				flex-grow: 2;

				&[aria-expanded] {
					span.--cms-filter-option-input-group {
						display: flex;
						flex-direction: row;

						input {
							border-bottom-left-radius: 0;
						}

						button {
							border-bottom-right-radius: 0;
							border-bottom: 1px solid var(--background-color);
							svg {
								transform: rotate(-180deg);
							}
						}
					}
				}

				span.--cms-filter-option-input-group {
					display: flex;
					flex-direction: row;
					align-items: stretch;

					width: 100%;

					input {
						flex-grow: 2;
						margin: 0;
						border: none;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}

					button {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;

						svg {
							transition: transform 0.15s ease-in-out;
						}
					}
				}

				div.--cms-filter-option-results {
					border: 1px solid var(--background-color);
					border-top: none;
					border-radius: 0;
					border-bottom-left-radius: var(--gap);
					border-bottom-right-radius: var(--gap);
					margin-top: 0;

					z-index: 2;
				}
			}
		}

		> button {
			flex-grow: 2;
		}
	}
}
