div.--cms-message-container {
	padding: var(--padding) var(--padding) 0 var(--padding);
}

section.--cms-listings {
	display: flex;
	flex-direction: column;
	gap: var(--margin);
	padding: var(--padding);

	background-color: var(--background-color-2);

	flex-grow: 2;

	table.--cms-listings-table {
		border: 1px solid var(--background-color-6);
		border-collapse: collapse;

		gap: var(--padding);

		@media (max-width: var(--tablet)) {
			thead {
				display: none;
			}
		}

		thead tr th,
		tbody tr td {
			text-align: center;
			padding: var(--gap);

			&:first-child {
				padding-left: var(--padding);
			}

			&:last-child {
				padding-right: var(--padding);
			}
		}

		thead {
			border: 1px solid var(--background-color-6);
			tr {
				border: 1px solid var(--background-color-6);

				th {
					button {
						margin: 0 auto;

						border: none;
						padding: 0;

						color: var(--info-color);

						&:hover {
							background: none;
						}

						&:active {
							background: none;
						}
					}
				}
			}
		}

		tbody {
			border: 1px solid var(--background-color-6);
			tr {
				border: 1px solid var(--background-color-6);
				td {
					button {
						border: none;
					}

					&.--cms-article-listing-info {
						display: flex;
						flex-direction: column;
						align-items: flex-start;

						text-align: left;

						h3 {
							a {
								color: var(--info-color);
							}
						}
					}
				}
			}
		}
	}
}

section.--cms-editor-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--padding);
	padding: var(--margin);

	background-color: var(--background-color-2);

	flex-grow: 2;

	form.--cms-editor-title-form {
		flex-direction: row;
		flex-wrap: wrap;

		padding: 0;
		gap: var(--margin);

		width: 100%;
		max-width: var(--desktop);

		> section {
			display: flex;
			flex-direction: column;
			gap: var(--gap);

			flex-grow: 2;

			min-width: 0;

			input {
				max-width: 100%;
			}
		}
	}

	div.--cms-editor-tabs {
		width: 100%;
		max-width: var(--desktop);

		background-color: var(--background-color-1);
		border-radius: var(--gap);

		flex-grow: 2;
		flex-basis: 75%;

		min-width: 0;
		overflow: hidden;
		height: max-content;

		aside.--cms-editor-side-menu {
			justify-self: start;

			display: flex;
			flex-direction: column;

			textarea {
				resize: vertical;
			}
		}
	}
}
