nav.--cms-nav {
	min-width: max-content;
	min-height: max-content;

	border: 1px solid var(--background-color-6);

	button {
		border: none;
		border-radius: 0;
		justify-content: flex-start;

		width: 100%;

		font-weight: 600;

		border-left: var(--gap) solid transparent;

		&:hover {
			border-color: var(--info-color);
		}

		&[aria-selected] {
			background-color: var(--info-color-0);
			border-color: var(--info-color);

			&:hover {
				background-color: var(--info-color);
				color: var(--text-color);
			}
		}
	}
}
